.time {
  text-decoration: none;
  width: 32px;
  position: relative;
  letter-spacing: -0.17px;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 32px;
}
.combinedShapeIcon,
.wiFiIcon {
  height: 10.7px;
  width: 17.1px;
  position: relative;
}
.wiFiIcon {
  height: 11.1px;
  width: 15.4px;
}
.batteryIcon {
  align-self: stretch;
  width: 24.5px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 12px;
}
.combinedShapeParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.combinedShapeParent,
.frameWrapper,
.timeParent {
  display: flex;
  align-items: flex-start;
}
.frameWrapper {
  width: 67px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xs-2) 0 0;
  box-sizing: border-box;
}
.timeParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.logoIcon {
  height: 43.4px;
  width: 250.6px;
  position: relative;
}
.frameParent,
.loginInner,
.logoWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.logoWrapper {
  width: 472.7px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frameParent,
.loginInner {
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: 23.3px;
}
.loginInner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-6xl) 0 var(--padding-10xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color);
  font-family: var(--font-roboto);
}
.logInSign {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
}
.logInSignUpToAccessYourWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 22px;
  box-sizing: border-box;
  max-width: 100%;
}
.frameChild {
  height: 38.1px;
  width: 725.4px;
  position: relative;
  border-radius: 5.47px;
  background-color: var(--f4f4f4);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.placeholder {
  width: 58px;
  border: 0;
  outline: 0;
  font-family: var(--font-roboto);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 14.3px;
  position: relative;
  line-height: 14.3px;
  text-transform: capitalize;
  color: var(--color);
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  z-index: 3;
}
.frameInner,
.frameItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.frameInner {
  top: 35.1px;
  left: 139.5px;
  width: 85.6px;
  height: 265.3px;
  object-fit: contain;
  z-index: 3;
}
.frameDiv {
  height: 325.6px;
  width: 696.4px;
  position: absolute;
  margin: 0 !important;
  top: -296.2px;
  left: -14.3px;
}
.frameContainer,
.rectangleParent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangleParent {
  border-radius: 5.47px;
  background-color: var(--f4f4f4);
  flex-direction: row;
  align-items: flex-start;
  padding: 11.9px 40px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
.frameContainer {
  flex-direction: column;
  align-items: flex-end;
  gap: 7.8px;
  flex-shrink: 0;
}
.buttonIcon {
  height: 31.8px;
  width: 1px;
  position: relative;
}
.buttonBackground {
  height: 36.5px;
  width: 279px;
  position: absolute;
  margin: 0 !important;
  bottom: -8.3px;
  left: calc(50% - 139.5px);
  filter: blur(10px);
  border-radius: var(--br-5xs);
  background-color: var(--color-gold-100);
}
.rectangleDiv {
  height: 36.2px;
  width: 387px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--ffd600);
  display: none;
  max-width: 100%;
}
.continue {
  width: 180.8px;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 18.3px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.buttonBackgroundParent,
.rectangleGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: 9.2px var(--padding-xl) 8.7px;
  background-color: var(--ffd600);
  flex: 1;
  border-radius: var(--br-5xs);
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
}
.rectangleGroup:hover {
  background-color: #cca300;
}
.buttonBackgroundParent {
  align-self: stretch;
  justify-content: flex-start;
  position: relative;
}
.frameWrapper2 {
  width: 387px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 19.2px;
  box-sizing: border-box;
  max-width: calc(100% - 21px);
}
.buttonIconParent,
.frameWrapper1 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.buttonIconParent {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameWrapper1 {
  width: 587.2px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xl) 7.5px;
  box-sizing: border-box;
}
.dividerIcon {
  height: 5px;
  width: 135px;
  position: relative;
  border-radius: var(--br-10xs-5);
}
.dividerWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 52.8px var(--padding-xl);
}
.socialButton,
.socialButton1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--ffd600);
  width: 30px;
  height: 6px;
}
.socialButton1 {
  left: 37px;
  background-color: var(--color);
  width: 6px;
}
.socialButton2,
.socialButtonParent {
  height: 6px;
  width: 43px;
  position: relative;
}
.socialButton2 {
  width: 6px;
  border-radius: var(--br-3xs);
  background-color: var(--color);
}
.frameParent2,
.frameWrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameParent2 {
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.frameWrapper3 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.separator {
  align-self: stretch;
  height: 21px;
  position: relative;
  background-color: var(--al-white);
}
.frameGroup,
.frameParent1,
.login {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  margin-left: -56.8px;
  width: 376px;
  gap: 40px;
}
.frameGroup,
.login {
  box-sizing: border-box;
}
.frameGroup {
  align-self: stretch;
  height: 254.2px;
  flex-shrink: 0;
  padding: 0 56px var(--padding-5xs) 55px;
  gap: 55.2px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color);
  font-family: var(--font-roboto);
}
.login {
  width: 837px;
  background-color: var(--al-white);
  overflow-y: auto;
  padding: var(--padding-sm) 0 0;
  gap: 292.1px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 450px) {
  .continue {
    font-size: var(--font-size-base);
    line-height: 15px;
  }
  .frameParent1 {
    gap: var(--gap-xl);
  }
  .frameGroup {
    gap: 28px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .login {
    gap: 146px;
  }
}
